<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gas Tracking - Quantified</title>
  <!-- PROD -->
  <meta http-equiv="refresh" content="0; url=http://quantified-gas.herokuapp.com/" />
  <!-- DEV -->
  <!-- <meta http-equiv="refresh" content="0; url=http://localhost:3000/" /> -->
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="material-icons">directions_car</i></a>
      <p class="container" style="font-size: 24px;">Add New Fillup<p>
    </div>
  </nav>

  
  <a href="/">Back</a>
      
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>

</html>
