<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gas Tracking - Quantified</title>
    <!-- PROD -->
    <!-- <meta http-equiv="refresh" content="0; url=http://quantified-gas.herokuapp.com/" /> -->
    <!-- DEV -->
    <meta http-equiv="refresh" content="0; url=http://quantified-gas.heroku.com/maintenance" />
</head>
</html>
