<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Gas Tracking - Quantified</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="material-icons">directions_car</i></a>
      <p class="container" style="font-size: 24px;">Profile<p>
    </div>
  </nav>

  <form id="addDestForm" role="form" method="get" action="/addDestination">
      <h3>Add a Destination</h3>
        <div class="input-field col s12">
          <input id="name" type="text" class="form-control" name="name">
          <label for="name">Name for your destination: i.e. Home, Work, etc.</label>
        </div>
        <div class="input-field col s12">
          <input id="address" type="text" class="form-control" name="address">
          <label for="address">Address: i.e. 11 First Street</label>
        </div>
      <input type="submit" id="submitBtn" class="btn btn-default" value="Add the Destination"></input>
  </form>
<br>
{{#each destinations}}
<p class="header col s12 light">{{name}}</p>
<p>{{address}}</p>
{{/each}}

  <p class="header col s18 light" style="font-size:24px;">Expected Mileage:</p>
  <br>
  

  <a href ="/">
  <button type="button" class="btn-large waves-effect waves-light orange">Cancel</button>
  </a>
      
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
