<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <title>Gas Tracking - Quantified</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><i class="material-icons">directions_car</i></a>
      <!-- <p class="container" style="font-size: 24px;">Profile<p> -->
    </div>
  </nav>
  <br>
<h4>Your Destinations:</h4>   
<br>
{{#each destinations}}
<p class="header col s12 light">{{name}}: {{address}}</p>
{{/each}}

  <br>
  
<a class="modal-trigger-addDest" href ="#addDest">
  <button type="button" class="btn-large waves-effect waves-light blue">Add a new destination!</button>
  </a>

  <a href ="/">
  <button type="button" class="btn-large waves-effect waves-light orange">Cancel</button>
  </a>
      

<!-- Modal Structure -->
 <div id="addDest" class="modal">
    <div class="modal-content container">
    <div class="row">
    <div class col s8>
  <form id="addDestForm" role="form" method="get" action="/addDestination">
      <h3>Add a Destination</h3>
        <div class="input-field col s12">
          <input id="name" type="text" class="form-control" name="name">
          <label for="name">Name for your destination: i.e. Home, Work, etc.</label>
        </div>
        <div class="input-field col s12">
          <input id="address" type="text" class="form-control" name="address">
          <label for="address">Address: i.e. 11 First Street</label>
        </div>
      <input type="submit" id="submitBtn" class="btn btn-default" value="Add the Destination"></input>
  </form>
  </div>
        </div>
    </div>
  </div>
<br>
</br>
      <div class="row center">
          <style>
            .map {
                
            }
            .map iframe {
                position: absolute;
                top: 150px;
                left: 575px;
                width: 50% !important;
                height: 50% !important;
            }

            .scrolloff {
                pointer-events: none;
          }
        </style>

        <script>
            $(document).ready(function () {

                // you want to enable the pointer events only on click;

                $('#map_canvas1').addClass('scrolloff'); // set the pointer events to none on doc ready
                $('#canvas1').on('click', function () {
                    $('#map_canvas1').removeClass('scrolloff'); // set the pointer events true on click
                });

                // you want to disable pointer events when the mouse leave the canvas area;

                $("#map_canvas1").mouseleave(function () {
                    $('#map_canvas1').addClass('scrolloff'); // set the pointer events to none when mouse leaves the map area
                });
            });
        </script>

        <section id="canvas1" class="map">
             <iframe id="map_canvas1" src="https://www.google.com/maps/embed/v1/place?q=University+of+California+San+Diego,+San+Diego,+CA,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" width="175" height="110" frameborder="0" style="border: 0"></iframe>
        </section>
          


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
  $(document).ready(function() {
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger-addDest').leanModal();
    $('select').material_select();
});
  </script>

  </body>
</html>
