.jumbotron
    h1.text-center About SyncNStudy
    p.
      SyncNStudy is a revolutionary way of approaching studying in college. It allows you to import your schedule and meet up with fellow students and form study sessions like no other app has done before. 
