body
    .container
        h2 My Classes
        p Select Class to Send Invite
        table.table
            tbody
                tr
                    button.btn.btn-primary.btn-block(type='button') CSE 100
                tr
                    button.btn.btn-primary.btn-block(type='button') CSE 105
                tr
                    button.btn.btn-primary.btn-block(type='button') CSE 110