body
    .container
        h2 My Classes
        p Select Class to Send Invite
        table.table
            thread
                tr
                    th Classname
            tbody
                tr
                    td CSE 100
                tr
                    td CSE 105
                tr
                    td CSE 110