//
   Created by sean on 5/20/2015.

h3#event-editor Edit events
   button.btn.btn-primary.pull-right(ng-click="events.push({title: 'New event', type: 'important'})") Add new

   table.table.table-bordered
      thead
         tr
            th Title
            th Type
            th Starts at
            th Ends at
            th Remove
            tbody
              tr.ng-scope(ng-repeat='event in events track by $index')
                td
                  input.form-control.ng-pristine.ng-untouched.ng-valid(type='text', ng-model='event.title')
                td
                  select.form-control.ng-pristine.ng-untouched.ng-valid(ng-model='event.type')
                    option(value='important') Important
                    option(value='warning') Warning
                    option(value='info') Info
                    option(value='inverse') Inverse
                    option(value='success') Success
                    option(value='special') Special
                  td
                    p.input-group(style='max-width: 250px')
                        input.form-control.ng-pristine.ng-valid.ng-isolate-scope.ng-valid-date.ng-touched(type='text', readonly='', datepicker-popup='medium', ng-model='event.startsAt', is-open='event.startOpen', close-text='Close')
                        ul.dropdown-menu.ng-valid.ng-valid-date.ng-valid-date-disabled(ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}", ng-keydown='keydown($event)', datepicker-popup-wrap='', ng-model='date', ng-change='dateSelection()', style='display: none;')
                            li(ng-transclude='')
                                .ng-isolate-scope(ng-switch='datepickerMode', role='application', ng-keydown='keydown($event)', datepicker='')
                                    // ngSwitchWhen: day
                                    table(role='grid', aria-labelledby='datepicker-25-6879-title', aria-activedescendant='datepicker-25-6879-19', ng-switch-when='day', tabindex='0')
                                        thead
                                            tr
                                                th
                                                    button.btn.btn-default.btn-sm.pull-left(type='button', ng-click='move(-1)', tabindex='-1')
                                                        i.glyphicon.glyphicon-chevron-left
                                                th(colspan='6')
                                                    button#datepicker-25-6879-title.btn.btn-default.btn-sm(role='heading', aria-live='assertive', aria-atomic='true', type='button', ng-click='toggleMode()', ng-disabled='datepickerMode === maxMode', tabindex='-1', style='width:100%;')
                                                        strong.ng-binding May 2015
                                                th
                                                    button.btn.btn-default.btn-sm.pull-right(type='button', ng-click='move(1)', tabindex='-1')
                                                        i.glyphicon.glyphicon-chevron-right
                                            tr
                                                th.text-center(ng-show='showWeeks')
                                                // ngRepeat: label in labels track by $index
                                                th.text-center.ng-scope(ng-repeat='label in labels track by $index')
                                                    small.ng-binding(aria-label='Sunday') Sun
                                                // end ngRepeat: label in labels track by $index
                                                th.text-center.ng-scope(ng-repeat='label in labels track by $index')
                                                    small.ng-binding(aria-label='Monday') Mon
                                                // end ngRepeat: label in labels track by $index
                                                th.text-center.ng-scope(ng-repeat='label in labels track by $index')
                                                    small.ng-binding(aria-label='Tuesday') Tue
                                                // end ngRepeat: label in labels track by $index
                                                th.text-center.ng-scope(ng-repeat='label in labels track by $index')
                                                    small.ng-binding(aria-label='Wednesday') Wed
                                                // end ngRepeat: label in labels track by $index
                                                th.text-center.ng-scope(ng-repeat='label in labels track by $index')
                                                    small.ng-binding(aria-label='Thursday') Thu
                                                // end ngRepeat: label in labels track by $index
                                                th.text-center.ng-scope(ng-repeat='label in labels track by $index')
                                                    small.ng-binding(aria-label='Friday') Fri
                                                // end ngRepeat: label in labels track by $index
                                                th.text-center.ng-scope(ng-repeat='label in labels track by $index')
                                                    small.ng-binding(aria-label='Saturday') Sat
                                                // end ngRepeat: label in labels track by $index
                                        tbody
                                            // ngRepeat: row in rows track by $index
                                            tr.ng-scope(ng-repeat='row in rows track by $index')
                                                td.text-center.h6(ng-show='showWeeks')
                                                    em.ng-binding 18



