//
   Created by sean on 5/2/2015.
   // Updated by kevin
doctype html
html(lang="en")
head

body

    div(ng-if="!isAuthenticated()")
      div(ui-view="about@home")
      div(class="bkimg", ui-view="signup@home")
    div(ng-if="!isAuthenticated()")
      div(ui-view="calendar@home")
