//
   Created by sean on 5/2/2015.
   // Updated by kevin
doctype html
html(lang="en")
head
   title= pageTitle
   script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
body
  img(src = "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRm6KdQ5Qlj4fg0t2TIbjVj46nxSmkfjlaAtZDNRnoDzBcD9MnSpt6KU4A")
