//
   Created by D Mac on 5/12/2015.

doctype html

body
   h3 Privacy Policy
   p SyncNStudy App (copyright pending) makes a commitment to not ask for or use any information except the user’s school, enrolled courses, and the user’s calendar.  Any information provided to SyncNStudy will not be disseminated to any third party organization.
