doctype html
html
    body
        .container
            h2(align='center') Profile
            .row
                .col-md-12
                    label Avatar:
            .row
                .col-md-12
                    img(align='center', alt='Avatar', height='200', width='200', src='http://static.dezeen.com/uploads/2013/09/dezeen_Kanye-West_1.jpg')
                button.btn.btn-primary.btn-md Small
                button.btn.btn-primary.btn-md Medium
                button.btn.btn-primary.btn-md Large
            .row
            form(role='form')
                .form-group
                    label(for='usr') Image:
                    input#usr.form-control(type='text', placeholder='Kanye West')
                    button.btn.btn-primary.btn-md Browse
                    button.btn.btn-primary.btn-md Upload
                .row
                form(role='form')
                    .form-group
                        label(for='usr') Name:
                        input#usr.form-control(type='text', placeholder='Kanye West')
                    .form-group
                        label(for='email') Email:
                        input#usr.form-control(type='text', placeholder='kwest@gary.edu')
                    .form-group
                        label University:
                        input#usr.form-control(type='text', placeholder='Gillespie Institute of Technology')
                    .form-group
                        label Major:
                        input#usr.form-control(type='text', placeholder='Computer Swagience')
                button.btn.btn-primary.btn-md Update
                button.btn.btn-primary.btn-md Cancel
