//
   Created by D Mac on 5/12/2015.
doctype html
body
   h2 Terms and Conditions
   p
   h3 Essentials
   p These terms and conditions are for the use of the SyncNStudy app (copyright pending) created by group Students EXcel (copyright also pending) as a part of the CSE 110 Introduction to software engineering course at University of California San Diego.  These terms are binding for anyone who creates an account for the SyncNStudy app.  The owners and developers of this app reserve the right to changes the terms and conditions as well as the privacy policy WITHOUT prior notice to or approval from the users.
   p

   h3 Definition of User
   p As far as these terms and conditions are concerned, a user is an individual who has created an account for SyncNStudy and/or is on the website
   p

   h3 Restrictions of Usage
   p This app may not be used for the following purposes:
   ul
      li This app may not be used for terrorist plots against the united states
      li This app may not be used to create nuclear weapons
      li This app may not be used to destroy:
      li This app may not be used to organize malicious pranks with the intention to emotionally cripple another human being
      ul
         li Schools
         li Government Buildings
         li Hospitals
         li Fire Departments
      li This app may not to be used to organize a violent crime including but not limited to:
      ul
         li Assault
         li Battery
         li Murder



