<template name="pollForm">

<form> 
    <div class="form-group">
        <label>Trip Miles</label>
        <input type="number" step="any" name="trip_miles" class="form-control">
    </div>

    <div class="form-group">
        <label>Gallons Filled</label>
        <input type="number" step="any" name="gallons_filled" class="form-control">
    </div>

    <div class="form-group">
        <label>Price per Gallon</label>
        <input type="number" step="any" name="price_per_gallon" class="form-control">
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block">CALCULATE MPG</button>
</form>

</template>